<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Produtos</title>
    {{!COLOQUEI AQ NESSA JOÇA O BOOTSTRAP BLZ?}}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

        {{!chamando o css aq ok?}}
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    {{{body}}}
</body>
</html>